# dependencies
node_modules
.pnp
.pnp.js

# build outputs
.next
out
dist
build

# cache / temp
.cache
.tmp
.temp
coverage

# env files
.env
.env.*
!.env.example

# lock files (обычно не форматируют)
package-lock.json
yarn.lock
pnpm-lock.yaml

# public/generated assets
public/sw.js
public/workbox-*.js

# misc
.vercel
.turbo
